@media only screen and (min-width: 992px) {
    .nav > .nav-item {
      width: auto !important;
    }
  }

.table>:not(:first-child) {
  border-top-width: 1px;
  border-color: inherit;
}

.table>:not(:first-child) > td {
  padding-top: 5px;
  padding-bottom: 5px;
}

#admin-actions > button {
  width: 100%;
}

#admin-actions > button:first-child {
  margin-top: 10px;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

#admin-actions > button:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

#admin-actions > button {
  border-radius: 0px;
}