.main-content > #banner {
    margin-top: 10px;
}

.product-card {
    min-width: 150px;
    width: 15%;
    margin: 10px;
    max-height: 20%;
    display: inline-block;
}

.product-card > * {
    padding: 10px;
}

#filters {
    padding: 0px 10px 0px 10px;
}

.nav > .nav-item {
    border: none;
    border-radius: 0.25rem;
    margin: 10px 10px 0px 10px;
}

#filters .filter-btn {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    background-color: transparent;
    margin: 10px 0px 0px 0px;
    padding: 5px 15px 5px 15px;
}

.nav-item > a {
    color: black;
}

.navbar {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

button.nav-link {
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
}

.product-card > p, h5 {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

@media only screen and (min-width: 992px) {
    /* For mobile phones: */
    .nav > .nav-item {
      width: 100%;
    }
  }

/* Home page */
#banner {
    width: 100%;
    height: 700px;
    /*background-image: url("/static/images/home-banner.jpg");*/
}

#productsBannerList > li {
    display: inline-block;
}

.bannerProductImg {
    width: 100%;
}

.bannerProductDiv {
    width: 250px;
    margin: 30px;
}

.oldPriceTag {
    text-decoration: line-through;
}

.newPriceTag {
    color: red;
    font-weight: bold;
}