{% extends "layout.html" %}

{% block title %}
    My Cart
{% endblock %}

{% block head_inners %}
{% endblock %}

{% block secondary_content %}
<div id="cart-actions">
    <a href="/clear_cart">
        <button style="width: 100%;" class="btn btn-primary">Clear my cart</button>
    </a>
    <a href="/new_order">
        <button style="width: 100%;" class="btn btn-primary">Place order</button>
    </a>
</div>
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
        </tr>
        {% if items|length > 0 %}
            {% for item in items %}
            <tr>
                <td>{{item[0]}} {{item[1]}}</td>
                <td>{{item[2]}}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th style="font-weight: normal;" colspan=2>No products yet...</th>
            </tr>
        {% endif %}
    </table>
{% endblock %}