{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block head_inners %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
{% endblock %}

{% block content %}
    <form id="login-form" action="/login" method="POST">
        <input class="form-control" required type="text" name="username" placeholder="Username"></input>
        <input class="form-control" required type="password" name="password" placeholder="Password"></input>
        <input style="width: 100%;" class="btn btn-primary" type="submit" value="Log In"></input>
    </form>
{% endblock %}