{% extends "layout.html" %}

{% block title %}
    Products
{% endblock %}
<!--
{% block body_products %}
    {% for product in products %}
            <div class="product-card card">
                {% if product[6] != None %}
                <img class="card-img-top product-img" src="static/images/products/{{ product[6] }}" alt="">
                {% else %}
                <img class="card-img-top product-img" src="static/images/products/no-photo.jpg" alt="">
                {% endif %}
                <h5 class="card-title">{{ product[1] }} {{ product[2] }}</h5>
                <h6 class="card-text">{{ product[5] }}€</h6>
                
            </div>
    {% endfor %}
{% endblock %}
-->
{% block categories %}
    {% for category in categories %}
        <li class="nav-item">
            <input type="checkbox" class="form-check-input category-item" name="{{ category[1] }}">
            <label for="{{ category[1] }}" class="form-check-label">{{ category[1] }}</label>
        </li>
    {% endfor %}
{% endblock %}

{% block filters %}
<div id="filters" class="container-fluid">
    <button onclick="document.getElementById('order').value='toLowest'; document.getElementById('applyFilter').submit();" class="nav-item filter-btn">Price (to lowest)</button>
    <button onclick="document.getElementById('order').value='toHighest'; document.getElementById('applyFilter').submit();" class="nav-item filter-btn">Price (to highest)</button>

    <form id="applyFilter" action="/" method="post">
        <input hidden id="selectedCategory" name="selectedCategory" value="{{ selectedCategory }}" type="text"></input>
        <input hidden id="order" name="order" type="text"></input>
    </form>
</div>

<p>{{ selectedCategory }}</p>
{% endblock %}

