{% extends "layout.html" %}

{% block title %}
    Daddy's Tools :: Register
{% endblock %}

{% block head_inners %}
    <link rel="stylesheet" href="{{ url_for('static', filename='form_styles.css') }}">
{% endblock %}

{% block content %}
    <form id="register-form" action="/register" method="POST">
        <input class="form-control" required type="text" name="username" placeholder="*Username"></input>
        <input class="form-control" required type="password" name="password" placeholder="*Password"></input>
        <input class="form-control" required type="password" name="password-check" placeholder="*Repeat password"></input>
        <input class="form-control" required type="text" name="first-name" placeholder="*First name"></input>
        <input class="form-control" required type="text" name="last-name" placeholder="*Last name"></input>
        <input class="form-control" required type="text" name="e-mail" placeholder="*E-mail address"></input>
        <input class="form-control" type="text" name="phone" placeholder="Phone number"></input>
        <input class="form-control" type="text" name="address" placeholder="Address"></input>
        <input style="width: 100%;" class="btn btn-primary" type="submit" value="Register"></input>
    </form>
{% endblock %}